.Fc_Input {
    background-color: #f0f2f5;
    border: none;
    width:16em;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    height: 42px;
}

.Fc_Input:focus {
    outline: none;
}

.Fc_Nav_Clik {
    position: absolute;
    outline: none;
    background-color: rgb(255, 252, 247);
    box-shadow: 1px 1px 5px black;
    border: none;
    width:22em;
    display: flex;
    height: 22em;
    transition: 0.2s;
    padding: 6px;
    position: absolute;
    left: 0px;
    top: 0px;


}

.Fc_Button {
    border-top-left-radius:100px ;
    border-bottom-left-radius: 100px;
    border: none;
    background-color: #f0f2f5;
    width:50px;
    height: 42px;
    
}

.Fc_Button_Img {
    max-width: 100%;
    max-height: 50%;
}

.Fc_Nav {
    box-sizing: border-box;
    width: 22em;
    display: flex;
    align-items: center;
   
}