.Fc_Header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 56px;
    align-items: center;
    background-color: rgb(255, 252, 247);
    gap: 15px;
   
}

.Fc_Header_div {
    display: flex;
    justify-content: space-between;
    width: 30%;
}